name: Update Badges

on:
  schedule:
    - cron: '0 8 * * *' # Executa diariamente às 5 AM Brasília (8 AM UTC)
  workflow_dispatch: # Permite execução manual

jobs:
  update-badges:
    name: Update README with Credly Badges
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Update Badges
        uses: pemtajo/badge-readme@main
        with:
          CREDLY_USER: aiexxplorer
          GH_TOKEN: ${{ github.token }}
          NUMBER_LAST_BADGES: 0

